.dark-mode{
    background-color: black;
    color: white;
    width: 100%;
}
.card-cus{
    padding: 10px;
    height: 200px;
}
.card-icons{
    font-size: 70px;
}
.sidebar-links:hover{
    cursor: pointer;
    color: rgb(180, 0, 0);

}
.sidebar-links{
    font-size: 23px;

}
.add-button{
    margin-left: 20px;
}
.table-venues{
    overflow-x: scroll;
}
.home-bg{
    background-image: linear-gradient(to right, rgb(255, 255, 255),rgba(204, 74, 255, 0.496));

    height: 100vh;
}

.table-bg{
    background-image: linear-gradient(to right, rgb(255, 255, 255),rgba(204, 74, 255, 0.701));
    height: 100vh;

}
.login-bg{
    /* background-image: linear-gradient( rgb(255, 255, 255),rgba(204, 74, 255, 0.701)); */
    background-image: url("../images/6057485.jpg");
    height: 100vh;
   
    
}
.login-card{
    background-color:transparent;
    border: 1px white solid;
    box-shadow: 0px 0px 20px white ;
   border-radius: 20px;
   padding: 50px;
  backdrop-filter: blur(10px);
   
}
.sidebar-bg{
    background-color: black;
    color: white;
    height: 100vh;
    
}
.h100vh{
    height: 100vh;
}
.userlogo:hover{
    color: blue;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* .admin-content{
    background-color: rgb(131, 131, 131);
    color: rgb(255, 255, 255);
}
.admin-body{
    background-color:rgb(131, 131, 131);
} */
